<div class="overlay" [class.open]="isOpen" *ngIf="isOpen" (click)="closeSidebar()"></div>

<div class="sidebar" [class.open]="isOpen">
  <button (click)="toggleSidebar()" class="toggle-btn">
    {{ isOpen ? '✖' : '☰' }}
  </button>


  <nav *ngIf="isOpen">
    <div class="config">

    <div class="dmButton">
      <label class="container">
          <input class="dark-mode-button" type="checkbox" (click)="toggleTheme()" id="toggle"/>
          <span class="slider round">
              <div class="background"></div>
              <div class="star"></div>
              <div class="star"></div>
          </span>
      </label>
    </div>
    </div>
  </nav>
</div>

