h4 {
  color: var(--color-text-secondary);
}

input::placeholder {
  color: var(--color-text-secondary);
}

textarea::placeholder {
  color: var(--color-text-secondary);
}

input{
  background-color: var(--background-secondary);
  color: var(--color-text-secondary);
}

select {
  background-color: var(--background-secondary);
  color: var(--color-text-secondary);
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px;

  input, textarea, select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--color-surface);
    font-size: 14px;
  }

  button {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    background-color: var(--background-secondary);
  }

  button:hover {
    background-color: var(--color-accent);
  }
}

.kanban-form-title {
  display: flex;
  flex-direction: row;
}

.kanban-form-title>h4 {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.char-counter {
  font-size: 0.75rem;
  color: var(--color-text);
  text-align: right;
  margin-top: 4px;
}

textarea {
  resize: none;
  min-height: 200px;
  background-color: var(--background-secondary);
  color: var(--color-text-secondary);
}
