<div class="kanban-controls">
  <div class="kanban-filters">
    <label for="priorityFilter">Filtrar por prioridade:</label>
    <select id="priorityFilter" [(ngModel)]="selectedPriority" (change)="reloadTasks()">
      <option value="">Todas</option>
      <option value="high">Alta</option>
      <option value="medium">Média</option>
      <option value="low">Baixa</option>
    </select>
  </div>
  <div class="kanban-orders">
    <label>
      <input type="checkbox" [(ngModel)]="sortByPriority" (change)="reloadTasks()" />
      Ordenar por prioridade
    </label>
  </div>
</div>

<div class="kanban-board">
  <div class="kanban-column">
    <h3>A Fazer</h3>
    <app-task-card *ngFor="let task of todo"
                    [task]="task"
                    (statusChanged)="handleStatusChange($event)"
                    (deleteTask)="deleteTask($event)"
                    (editTask)="editTask($event)">
                    ></app-task-card>
  </div>
  <div class="kanban-column">
    <h3>Em Progresso</h3>
    <app-task-card *ngFor="let task of inProgress"
                    [task]="task"
                    (statusChanged)="handleStatusChange($event)"
                    (deleteTask)="deleteTask($event)"
                    (editTask)="editTask($event)">
    </app-task-card>
  </div>
  <div class="kanban-column">
    <h3>Concluído</h3>
    <app-task-card *ngFor="let task of done"
                    [task]="task"
                    (statusChanged)="handleStatusChange($event)"
                    (deleteTask)="deleteTask($event)"
                    (editTask)="editTask($event)">
                    ></app-task-card>
  </div>
  <app-task-form
  [taskToEdit]="editingTask"
  (taskAdded)="reloadTasks()"
  (clearForm)="onFormCleared()">
  </app-task-form>
</div>
