.kanban-board {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--color-text);
}

.kanban-column {
  flex: 1;
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.kanban-controls {
  height: min-content;
}

h3 {
  text-align: center;
  margin-bottom: 12px;
}

app-task-form{
  width: 20rem;
}

label {
  color: var(--color-text);
}
