<div class="kanban-board">
  <div class="kanban-column">
    <h3>A Fazer</h3>
    <app-task-card *ngFor="let task of todo"
                    [task]="task"
                    (statusChanged)="handleStatusChange($event)"
                    (deleteTask)="deleteTask($event)">
                    ></app-task-card>
  </div>
  <div class="kanban-column">
    <h3>Em Progresso</h3>
    <app-task-card *ngFor="let task of inProgress"
                    [task]="task"
                    (statusChanged)="handleStatusChange($event)"
                    (deleteTask)="deleteTask($event)">
    </app-task-card>
  </div>
  <div class="kanban-column">
    <h3>Concluído</h3>
    <app-task-card *ngFor="let task of done"
                    [task]="task"
                    (statusChanged)="handleStatusChange($event)"
                    (deleteTask)="deleteTask($event)">
                    ></app-task-card>
  </div>
  <app-task-form (taskAdded)="reloadTasks()"></app-task-form>
</div>
