.kanban-content {
  margin-left: 5%;
}

.kanban-board {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--color-text);
}

.kanban-column {
  flex: 1;
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.task-list {
  max-height: 68vh; /* ajustável conforme o layout */
  overflow-y: auto;
  padding-right: 4px; /* espaço pro scrollbar */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-list::-webkit-scrollbar {
  width: 3px;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}


.kanban-controls {
  height: min-content;
}

h3 {
  text-align: center;
  margin-bottom: 12px;
}

app-task-form{
  width: 20rem;
}

label {
  color: var(--color-text);
}

input, select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--background-secondary);
  color: var(--color-text-secondary);
}
