@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cal+Sans&display=swap');

:root {
  /* Backgrounds */
  --background: #f9f9f9;
  --background-secondary: #ffffff;

  /* Textos */
  --color-text: #1e1e1e;
  --color-text-secondary: #6c6c6c;

  /* Cores principais */
  --color-primary: #4a90e2;
  --color-secondary: #7b8a8b;
  --color-accent: #1fc227;
  --color-danger: #e74c3c;

  /* Prioridades */
  --priority-low: #d1e7dd;
  --priority-medium: #fff3cd;
  --priority-high: #f8d7da;

  /* Outros */
  --scrollbar: rgb(0,0,0,0.2);

  /* DARK MODE STYLES */

  --dark: #111111;
  --sun: #ffd700;
  --sun-shadow: #987416;
  --moon: #dddddd;
  --moon-shadow: #808080;
  --star: #ffffff;
  --cloud: #ffffff;
  --crater: #535370;
  --shadow-01: #80808077;
  --shadow-02: #ffffff22;
  --shadow-03: #555555;
  --white: #ffffff;
  --background-day: linear-gradient(skyblue, cadetblue);
  --background-night: linear-gradient(-45deg, #222, #000030);
}

.dark-theme {
  --background: #121212;
  --background-secondary: #1e1e1e;

  /* Textos */
  --color-text: #f0f0f0;
  --color-text-secondary: #b0b0b0;

  /* Cores principais */
  --color-primary: #3b78c2;
  --color-secondary: #7b8a8b;
  --color-accent: #1fc227;
  --color-danger: #e74c3c;

  /* Prioridades (tons sutis no escuro) */
  --priority-low: #234235;
  --priority-medium: #4b3d18;
  --priority-high: #472b2b;

  /* Outros */
  --scrollbar: rgba(255, 255, 255, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

.kanban-board {
  height: 80vh;
}

.kanban-controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 2rem;
  align-items: center;
  height: 100%;
}

app-sidebar {
  background-color: red;
}
