@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cal+Sans&display=swap');

:root {
  --background: #f4f4f4;
  --background-secondary: #ddd;
  --color-text: #343a40;
  --color-text-secondary: #181818;

  --color-primary: #4e73df;
  --color-primary-dark: #2e59d9;
  --color-secondary: #858796;
  --color-accent: #1cc88a;
  --color-danger: #e74a3b;

  --priority-low: #d1ecf1;
  --priority-medium: #fff3cd;
  --priority-high: #f8d7da;
}

.dark-theme {
  --background: #3d3d3d;
  --background-secondary: #535353;
  --color-text: #fafafa;
  --color-text-secondary: #dbdbdb;

  --color-primary: #37519e;
  --color-primary-dark: #15338d;
  --color-secondary: #4f5057;
  --color-accent: #1a7a57;

  --priority-low: #3d7a85;
  --priority-medium: #9b894e;
  --priority-high: #7c3d41;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}

.kanban-board {
  height: 80vh;
}

.kanban-controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 2rem;
  align-items: center;
  height: 100%;
}
